<% provide(:title, 'New Word') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(word) do |f| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :deutsch %>
    <%= f.label :deutsch %>
      </div>
    </div>
  </div>

  <div class="field">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :remarks , class:"materialize-textarea" %>
          <%= f.label :remarks   %>
       </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :sample_sentence  , class:"materialize-textarea" %>
          <%= f.label :sample_sentence %>
        </div>
      </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="input-field col s12">
    <%= f.text_field :english %>
    <%= f.label :english %>
    </div>
    </div>
  </div>

  <div class="actions waves-effect waves-light btn red accent-1">
    <%= f.submit %>
  </div>
<% end %>

  
</div>
</div>